@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply antialiased;
  }
}

@layer utilities {
  input[type='range']::-webkit-slider-thumb {
    @apply appearance-none w-5 h-5 bg-emerald-600 rounded-full cursor-pointer;
  }

  input[type='range']::-moz-range-thumb {
    @apply w-5 h-5 bg-emerald-600 rounded-full cursor-pointer border-0;
  }
}
