.spinner {
  width: 50px;
  height: 50px;
  border: 6px solid #e0e0e0;
  border-top: 6px solid rgb(5 150 105 / var(--tw-bg-opacity, 1)); /* emerald green */
  border-radius: 50%;
  animation: spin 1s linear infinite;
  margin: 100px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}